/* * {
  box-sizing: border-box;
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  color: #393939;
  background-color: #FFF;
}

body {
  padding-top:10px;
} */

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipecard-wrapper {
  background: yellowgreen;
  margin: 0;
  width: 300px;
}

.recipecard-wrapper > img {
  object-fit: contain;
  width: 100%;
}
